<div>
  <br />

  <!-- --- To Add New Item OR Edit Existing Expense --- -->
  <div>
    <p-dialog [(visible)]="add_expense || edit_expense" modal="true" closeOnEscape="true" [style]="{width: '30em'}">
      <p-header *ngIf="add_expense">
        Add New Expense
      </p-header>
      <p-header *ngIf="edit_expense">
        Edit Expense
      </p-header>
      <div>
        <form #newExpenseForm="ngForm">
          <div class="form-group">
            <label for="name">Person Name</label>
            <input type="text" #name="ngModel" name="name" id="name" [(ngModel)]="new_expense.name" class="form-control"
              required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="details">Details</label>
            <input type="text" #details="ngModel" name="details" id="details" [(ngModel)]="new_expense.details"
              class="form-control" required>
            <div *ngIf="details.invalid && (details.dirty || details.touched)" class="alert alert-danger">
              <div *ngIf="details.errors.required">
                Details is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number"  name="amount" id="amount" [(ngModel)]="new_expense.amount"
              class="form-control" required>
            <!-- <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
              <div *ngIf="amount.errors.required">
                Amount is required.
              </div>
            </div> -->
          </div>

          <div class="form-group">
            Date : &nbsp;
            <p-calendar name="eDate" id="eDate" [(ngModel)]="new_expense.date" dateFormat="dd.mm.yy"></p-calendar>
          </div>
        </form>
      </div>
      <p-footer>
        <p-button *ngIf="add_expense" label="Save" (click)="saveExpense()"
          styleClass="ui-button-raised ui-button-success"></p-button>
        <p-button *ngIf="edit_expense" label="Update" (click)="updateExpense()"></p-button>
        <p-button label="Cancel" (click)="add_expense = false; edit_expense=false;"></p-button>
      </p-footer>
    </p-dialog>

    <button type="text" (click)="addExpense()" pButton icon="pi pi-plus" label="Add {{item_header}}"
      styleClass="ui-button-raised ui-button-success"></button>
  </div>

  <br />

  <p-table #expenseTable [columns]="cols" [value]="expenses" [paginator]="expenses?.length > 0" [rows]="10"
      [rowsPerPageOptions]="[5,10,20,30]">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="'5%'">          
        <col *ngFor="let col of columns" [style.width]="col.width">
        <col [style.width]="'18%'">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th rowspan="2">
            Sr.No.
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
        <th rowspan="2">
          Action
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="true" class="ui-fluid">
          <div *ngSwitchCase="col.field == 'date'">
            <p-calendar appendTo="body" [(ngModel)]="dateFilters" selectionMode="range" [readonlyInput]="false"
              dateFormat="dd/mm/yy" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2000:3000" (onSelect)="expenseTable.filter(dateFilters, col.field, 'between')"
              (onClearClick)="expenseTable.reset()" >
            </p-calendar>
          </div>
          <div *ngSwitchDefault>
            <input pInputText type="text" (input)="expenseTable.filter($event.target.value, col.field, 'contains')"
            [value]="expenseTable.filters[col.field]?.value" class="input-res"> 
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exp let-columns="columns">
      <tr>
        <td>
          {{expenses.indexOf(exp)+1}}
        </td>
        <td *ngFor="let col of columns;" [ngSwitch]="true">
            <div *ngSwitchCase="col.field == 'date'">
              {{exp[col.field] | date:'dd/MM/yyyy'}}
            </div>
            <div *ngSwitchCase="col.field == 'amount'">
              {{exp[col.field] | number : '1.2-2'}}
            </div>
            <div *ngSwitchDefault>
              {{exp[col.field]}}
            </div>
        </td>
        <td>
          <p-button label="Edit" icon="pi pi-pencil" (click)="editExpense(exp)" iconPos="left"
            styleClass="ui-button-raised ui-button-warning"></p-button>
          &nbsp;
          <p-button label="Delete" (click)="deleteExpense(exp['_id'])" icon="pi pi-trash" iconPos="left"
            styleClass="ui-button-raised ui-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      There are total {{expenses?.length}} expenses.
    </ng-template>
  </p-table>
</div>

<!-- --- Confirmation Dialog for Deletion --- -->
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"
      styleClass="ui-button-raised ui-button-danger"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"
      styleClass="ui-button-raised"></button>
  </p-footer>
</p-confirmDialog>


<!-- --- Message for notification --- -->
<p-toast></p-toast>